<nav class="navbar is-bold is-black is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container is-fullhd">
    <div class="navbar-brand">
      <a class="navbar-item schiebroekjs-logo" href="">
        <span class="has-text-white">Schiebroek</span>
        <span class="has-text-primary">.js</span>
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Language</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-white">
            Language
          </a>

          <div class="navbar-dropdown" style="background: rgb(50,10,10)">
            <a class="navbar-item">
              <img class="company-image" src="../assets/United-Kingdom.png">
            </a>
            <a class="navbar-item">
              <img class="company-image" src="../assets/Denmark.png">
            </a>
            <a class="navbar-item">
              <img class="company-image" src="../assets/Netherlands.png">
            </a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</nav>

<!-- ABOUT ME -->
<section class="section" style="padding-top: 104px; background-color: black">
  <div class="container is-fullhd">
    <div class="notification">
      ABOUT ME
    </div>
  </div>
</section>

<!-- PROJECT BAR (active when carousel) -->
<section class="section" style="background-color: white">
  <div class="container is-fullhd">
    <div class="notification">
      PROJECT BAR
    </div>
  </div>
</section>

<!-- CAROUSEL -->
<section class="section" style="background-color: black">
  <div class="container is-fullhd">
    <div class="notification">
      PROJECT CAROUSEL
    </div>
  </div>
</section>

<!-- REFERENCES / COLLABORATIONS -->
<section class="section" style="background-color: white">
  <div class="container is-fullhd has-text-centered">
    <span class="is-size-3">
      Companies I have collaborated with:
    </span>
  </div>
  <div class="container" style="margin-top: 50px">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 0 250px">
        <img class="company-image" src="../assets/logos/disney.svg">
        <img class="company-image" src="../assets/logos/grundfos.svg">
        <img class="company-image" src="../assets/logos/quickpay.svg">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 0 250px">
        <img class="company-image" src="../assets/logos/littlestudio.png" style="padding: 25px">
        <img class="company-image" src="../assets/logos/inetdesign.png">
        <img class="company-image" src="../assets/logos/lyshygge.png">
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer class="footer has-background-dark">
  <div class="content has-text-centered">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="16px" style="margin: 32px 0">
      <a class="button js-circle-btn" href="https://dribbble.com/JorySchiebroek" target="_blank">
        <fa-icon [icon]="['fab', 'dribbble']"></fa-icon>
      </a>
      <a class="button js-circle-btn" href="https://www.linkedin.com/in/jory-schiebroek" target="_blank">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
      <a class="button js-circle-btn" href="https://github.com/JorySchiebroek" target="_blank">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a class="button js-circle-btn" href="mailto:joryschiebroek@gmail.com">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
      </a>
    </div>
    <p class="has-text-white">Schiebroek.js © {{ year }}</p>
    <div class="made-with-bulma">
      <img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="163" height="31">
    </div>
  </div>
</footer>
