<div #top id="top"></div>
<nav class="navbar is-bold is-black is-fixed-top"
     role="navigation"
     aria-label="main navigation"
>
  <div class="container is-desktop">
    <div class="navbar-brand">
      <a class="navbar-item js-logo" href="">
        <span class="has-text-white">Schiebroek</span>
        <span class="has-text-primary">.js</span>
      </a>

      <a role="button" [ngClass]="{'navbar-burger burger': true, 'is-active': showBurgerMenu }" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="showBurgerMenu = !showBurgerMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" [ngClass]="{'navbar-menu': true, 'is-active': showBurgerMenu }">
      <div class="navbar-end" [fxLayout]="viewport >= 1024 ? 'row' : 'column'" fxLayoutAlign="center center">
        <a (click)="scrollTo(top)" [ngClass]="{ 'navbar-item': true, 'has-text-primary': currentActive === 1 }">
          About
        </a>
        <a (click)="scrollTo(projectbar)" [ngClass]="{ 'navbar-item': true, 'has-text-primary': currentActive === 2 }">
          Projects
        </a>
        <a (click)="scrollTo(collaborations)" [ngClass]="{ 'navbar-item': true, 'has-text-primary': currentActive === 3 }">
          Collaborations
        </a>
        <a (click)="scrollTo(contact)" [ngClass]="{ 'navbar-item': true, 'has-text-primary': currentActive === 4 }">
          Contact
        </a>

        <div *ngIf="viewport >= 1024" class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button has-background-black has-border-black has-text-white" aria-haspopup="true" aria-controls="language-menu" style="border: none">
              <img class="locale-flag" [src]="'../assets/locales/' + activeLocale + '.png'">
              <span class="icon is-small">
                <fa-icon [icon]="['fas', 'angle-down']" aria-hidden="true"></fa-icon>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="language-menu" role="menu">
            <div class="dropdown-content">
              <a *ngFor="let locale of locales"
                 fxLayout="row"
                 fxLayoutGap="8px"
                 (click)="changeLanguage(locale)"
                 [ngClass]="{'dropdown-item': true, 'is-active': activeLocale === locale}"
              >
                <img class="locale-flag" [src]="'../assets/locales/' + locale + '.png'">
                <span>{{ locale | uppercase }}</span>
              </a>
            </div>
          </div>
        </div>

        <div *ngIf="viewport < 1024" fxLayout="row" class="mt-4">
          <button class="button is-white" *ngFor="let locale of locales"
                 fxLayout="row"
                 fxLayoutGap="8px"
                 (click)="changeLanguage(locale)"
                 [ngClass]="{'button is-white': true, 'is-active': activeLocale === locale}"
          >
                <img class="locale-flag" [src]="'../assets/locales/' + locale + '.png'">
                <span>{{ locale | uppercase }}</span>
              </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- ABOUT ME -->
<section class="section js-about-section">
  <div class="container is-fullhd">
    <div class="container is-fullhd has-text-centered">
      <span class="title is-2 has-text-white">
        Who am I?
      </span>
    </div>
  </div>
</section>
<svg style="position: absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#00d1b2" fill-opacity="1" d="M0,160L60,144C120,128,240,96,360,90.7C480,85,600,107,720,144C840,181,960,235,1080,229.3C1200,224,1320,160,1380,128L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
<section #about
         id="about"
         class="mb-10"
>
  <div [ngClass]="{ 'mx-4': viewport > 399 }" fxLayout="row" fxLayoutAlign="center">
    
    <div class="card box p-0" style="width: 500px">
      <div class="card-content has-text-centered p-5">
        <div class="tile pb-2" fxLayout="row" fxLayoutAlign="center">
          <img class="js-me" src="../assets/me.png">
        </div>
        <p class="title">
          Jory Schiebroek
        </p>
        <p class="subtitle">
          Front-End Developer & UI Designer
        </p>
      </div>

      <footer class="card-footer">
        <div [ngClass]="{'card-footer-item': true, 'p-5': viewport > 499, 'p-2': viewport < 500 }" fxLayout="column" fxLayoutAlign="start center">
          <span [ngClass]="{ 'subtitle is-5 m-2': true, 'is-6': viewport < 420 }">Developer</span>
          <span class="subtitle is-7 has-text-centered" style="min-height: 60px">
            I love to write simple but effective code, turning an application into a smooth machine.
          </span>
          <span class="subtitle is-6 m-0">Skills</span>
          <div fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="center" style="min-height: 60px">
            <span *ngFor="let skill of devSkills" class="tag is-light mx-05 mt-1">{{ skill }}</span>
          </div>
          <span class="subtitle is-6 mt-4 mb-1">Design tools</span>
          <div class="mb-2" fxLayout="row wrap" fxLayoutAlign="center">
            <img *ngFor="let tool of devTools" class="js-tool mx-05" [src]="'../assets/tools/' + tool + '.png'" [alt]="tool">
          </div>
        </div>

        <div [ngClass]="{'card-footer-item': true, 'p-5': viewport > 499, 'p-2': viewport < 500 }" fxLayout="column" fxLayoutAlign="start center">
          <span [ngClass]="{ 'subtitle is-5 m-2': true, 'is-6': viewport < 420 }">Designer</span>
          <span class="subtitle is-7 has-text-centered" style="min-height: 60px">
            I like to design with minimalist rules while optimising user experience to turn interactions into candy.
          </span>
          <span class="subtitle is-6 m-0">Skills</span>
          <div fxLayout="row wrap" fxLayoutAlign="center" style="min-height: 60px">
            <span *ngFor="let skill of desSkills" class="tag is-light mx-05 mt-1">{{ skill }}</span>
          </div>
          <span class="subtitle is-6 mt-4 mb-1">Dev tools</span>
          <div class="mb-2" fxLayout="row wrap" fxLayoutAlign="center">
            <img *ngFor="let tool of desTools" class="js-tool mx-05" [src]="'../assets/tools/' + tool + '.png'" [alt]="tool">
          </div>
        </div>
      </footer>
    </div>
  </div>
</section>

<!-- PROJECT BAR (active when carousel) -->
<section #projectbar
         id="projectbar"
         class="section"
         style="background-color: white"
>
  <div class="container is-fullhd">
    <div class="container is-fullhd has-text-centered mb-8">
      <span class="title is-2">
        My projects
      </span>
    </div>
    
    <div class="tile is-ancestor">
      <div *ngFor="let project of projects; let i = index"
           class="tile is-parent"
      >
        <div class="tile is-child">
          <a [ngClass]="{ 'box js-project': true, 'js-project-active': project.title === activeProject.title }"
             (click)="changeProject(project)"
             fxLayout="row"
             fxLayoutAlign="space-between center"
          >
          <div>
            <p [ngClass]="{ 'title is-6': true, 'has-text-white': project.title === activeProject.title }">{{ project.title }}</p>
            <p [ngClass]="{ 'subtitle is-7': true, 'has-text-white': project.title === activeProject.title }">{{ project.subtitle }}</p>
          </div>
          <fa-icon [icon]="project.icon" [styles]="{ 'color': project.title === activeProject.title ? '#ffffff' : 'default' }"></fa-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box js-project-bg" fxLayout fxLayoutAlign="start center" [ngStyle]="{ 'backgroundImage': 'url(' + activeProject.bg + ')' }">
          <div class="content p-6" style="width: 50%; height: 450px">
            <p class="title has-text-white">{{ activeProject.title }}</p>
            <p class="subtitle has-text-white">{{ activeProject.subtitle }}</p>
            <div class="content">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <div *ngFor="let tool of activeProject.tools" class="tag is-black" fxLayout fxLayoutGap="8px">
                  <fa-icon *ngIf="tool == 'HTML'" [icon]="['fab', 'html5']" aria-hidden="true" [styles]="{'color': 'rgb(255, 165, 2)'}"></fa-icon>
                  <fa-icon *ngIf="tool == 'CSS'" [icon]="['fab', 'css3-alt']" aria-hidden="true" [styles]="{'color': 'rgb(29, 145, 255)'}"></fa-icon>
                  <fa-icon *ngIf="tool == 'SCSS'" [icon]="['fab', 'sass']" aria-hidden="true" [styles]="{'color': 'rgb(238, 130, 239)'}"></fa-icon>
                  <fa-icon *ngIf="tool == 'Javascript'" [icon]="['fab', 'js-square']" aria-hidden="true" [styles]="{'color': 'rgb(255, 215, 1)'}"></fa-icon>
                  <fa-icon *ngIf="tool == 'Phaser'" [icon]="['fas', 'rocket']" aria-hidden="true" [styles]="{'color': 'rgb(124, 104, 238)'}"></fa-icon>
                  <fa-icon *ngIf="tool == 'Angular'" [icon]="['fab', 'angular']" aria-hidden="true" [styles]="{'color': 'rgb(220, 20, 60)'}"></fa-icon>
                  <fa-icon *ngIf="tool == 'React'" [icon]="['fab', 'react']" aria-hidden="true" [styles]="{'color': 'rgb(0, 192, 255)'}"></fa-icon>
                  <fa-icon *ngIf="tool == 'Photoshop'" [icon]="['fab', 'adobe']" aria-hidden="true" [styles]="{'color': 'rgb(255, 2, 0)'}"></fa-icon>
                  <fa-icon *ngIf="tool == 'Sketch'" [icon]="['fab', 'sketch']" aria-hidden="true" [styles]="{'color': 'rgb(255, 165, 2)'}"></fa-icon>
                  <fa-icon *ngIf="tool == 'Vue'" [icon]="['fab', 'vuejs']" aria-hidden="true" [styles]="{'color': 'rgb(65, 224, 208)'}"></fa-icon>
                  <span>{{ tool }}</span>
                </div>
              </div>
              <div class="mt-4 mb-4">
                <span class="has-text-white">{{ activeProject.description }}</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <button class="button is-black is-light is-rounded" (click)="openModal()">Read more</button>
                <button *ngIf="activeProject.buttons.demo" class="button is-black is-rounded" (click)="openRemote(activeProject.buttons.demo)">View demo</button>
                <button *ngIf="activeProject.buttons.visuals" class="button is-black is-rounded">{{ activeProject.buttons.visuals}}</button>
                <img *ngIf="activeProject.buttons.apple" class="store-badge" src="../assets/logos/appstore.svg" (click)="openRemote(activeProject.buttons.apple)">
                <img *ngIf="activeProject.buttons.google" class="store-badge" src="../assets/logos/googleplay.svg" (click)="openRemote(activeProject.buttons.google)">
              </div>
            </div>
          </div>

          <div style="width: 100%" fxLayout fxLayoutAlign="center center">
            <!-- MEDIA -->
            <img *ngIf="activeProject.name === 'disney'" src="../assets/disney/dxd.png" style="width: 75%">

            <div class="media-container" *ngIf="activeProject.name === 'brofish'">
              <div class="media-device" style="margin-top: -208px; margin-left: -250px">
                <img width="500px" src="../assets/devices/imac.png">
              </div>
              <div class="media-unit" style="margin-top: -190px; margin-left: -223px">
                <img width="446px" src="../assets/brofish/react3.png">
              </div>
            </div>

            <div class="media-container" *ngIf="activeProject.name === 'belastingdienst'">
              <div class="media-device" style="margin-top: -224px; margin-left: -125px">
                <img width="350px" src="../assets/devices/ipad_silver_portrait.png">
              </div>
              <div class="media-unit" style="margin-top: -196px; margin-left: -97px">
                <video autoplay width="294px" height="392px" src="../assets/belastingdienst/fto_promo.mp4">
                </video>
              </div>
              <div class="media-unit" style="margin-top: -170px; margin-left: -350px; z-index: 3">
                <img width="300px" src="../assets/belastingdienst/fdrmx.png">
              </div>
            </div>

            <div class="media-container" *ngIf="activeProject.name === 'grundfos'">
              <div class="media-device" style="margin-top: -224px; margin-left: -105px">
                <img width="210px" src="../assets/devices/iphone_spacegray.png">
              </div>
              <div class="media-unit" style="margin-top: -159px; margin-left: -87.5px">
                <video autoplay width="178px" height="314px" src="../assets/grundfos/grundfos_promo.mp4">
                </video>
              </div>
            </div>

            <div class="media-container" *ngIf="activeProject.name === 'membership'">
              <div class="media-device" style="margin-top: -208px; margin-left: -250px">
                <img width="500px" src="../assets/devices/imac.png">
              </div>
              <div class="media-unit" style="margin-top: -180px; margin-left: -223px">
                <video autoplay width="446px" height="250px" src="../assets/membership/membership_promo.mp4">
                </video>
              </div>
            </div>

            <div class="media-container" *ngIf="activeProject.name === 'checkme'">
              <div class="media-device" style="margin-top: -208px; margin-left: -250px">
                <img width="500px" src="../assets/devices/imac.png">
              </div>
              <div class="media-unit" style="margin-top: -180px; margin-left: -223px">
                <!-- <video autoplay width="446px" height="250px" src="../assets/membership/membership_promo.mp4">
                </video> -->
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- REFERENCES / COLLABORATIONS -->
<section #collaborations
         id="collaborations"
         class="section"
         style="background-color: white"
>
  <div class="container is-fullhd has-text-centered">
    <span class="title is-2">
      I enjoyed collaborating with:
    </span>
  </div>
  <div class="container mt-10 px-10" fxLayout="column" fxLayoutAlign="start center">
    <div [ngClass]="{ 'px-10': viewport > 1407 }" fxLayout="row wrap" fxLayoutAlign="center">
      <ng-container *ngFor="let partner of partners; let i = index">
        <img [fxHide]="i > 3" class="m-5" [src]="partner" style="width: 200px">
        <div [fxHide]="i < 4" class="m-5" style="width: 200px" fxLayout="row" fxLayoutAlign="center center">
          <img [src]="partner">
        </div>
      </ng-container>
    </div>
  </div>
</section>

<!-- Wave -->
<section fxLayout="column" fxLayoutAlign="start end">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#363636" fill-opacity="1" d="M0,160L60,170.7C120,181,240,203,360,224C480,245,600,267,720,245.3C840,224,960,160,1080,144C1200,128,1320,160,1380,176L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>

<!-- FOOTER -->
<footer #contact
        id="contact"
        class="footer has-background-dark"
>
  <div class="content has-text-centered">
    <div class="mb-1" style="display: inline-block; width: 80px">
      <img src="../assets/logo.png" alt="schiebroek.js logo">
    </div>
    <p class="title is-3 has-text-white">Let's talk!</p>
    <div class="my-4 mx-3" fxLayout="row grid" fxLayoutAlign="center">
      <a *ngFor="let media of some" class="button js-circle-btn m-1" [href]="media.href" target="_blank" aria-hidden="true">
        <fa-icon [icon]="media.icon"></fa-icon>
      </a>
    </div>
    <p class="has-text-white">
      <span class="js-logo" href="">
        <span class="has-text-white">Schiebroek</span>
        <span class="has-text-primary">.js</span>
      </span> © {{ year }}</p>
    <div class="made-with-bulma">
      <img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="163" height="31">
    </div>
  </div>
</footer>

<!-- MODAL -->
<app-modal-component [project]="activeProject" [showModal]="showModal" (closeModal)="showModal = false"></app-modal-component>
<!-- <div [ngClass]="{ 'modal': true, 'is-active': showModal }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <span class="title">
          {{ activeProject.title }}
        </span>
        <span class="subtitle">
          {{ activeProject.subtitle }}
        </span>
      </p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      
    </section>
    <footer class="modal-card-foot" fxLayout fxLayoutGap="8px">
      <button *ngIf="activeProject.buttons.demo" class="button is-black is-rounded" (click)="openRemote(activeProject.buttons.demo)">View demo</button>
      <button *ngIf="activeProject.buttons.visuals" class="button is-black is-rounded">{{ activeProject.buttons.visuals}}</button>
      <img *ngIf="activeProject.buttons.apple" class="store-badge" src="../assets/logos/appstore.svg" (click)="openRemote(activeProject.buttons.apple)">
      <img *ngIf="activeProject.buttons.google" class="store-badge" src="../assets/logos/googleplay.svg" (click)="openRemote(activeProject.buttons.google)">
    </footer>
  </div>
</div> -->
